
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<table>
    <tr>
        <th>ID</th>
        <th>ad</th>
        <th>dep</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ertan</td>
        <td>1</td>
    </tr>
</table>